body{background-color: goldenrod;}

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;}


/********** Styling for all my text ********/
h1 {
	font-size: xx-large;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family:'Playfair Display', serif;} 

h4{
	text-align: center;
	font-size: x-large;
	font-family: 'Open Sans Condensed', sans-serif;

}

h3{
	padding-left: 1em;
	padding-right: 1em;
	color: black;
	font-family: 'Gowun Batang', serif;}

p {
	color: black;
	padding-right: 1em;
	padding-left: 1em;
	text-align: left;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Gowun Batang', serif;}

.container {
	line-height: 1.5em;
	text-align: center;}

h5{
	font-family: 'Gowun Batang', serif;
}

h6{
	font-family: 'Open Sans Condensed',sans-serif;
}

/******************/



/******** Styling for my icons/flexboxes ***********/

div.main.container{
	display: flex;
		flex-wrap: nowrap;
	margin-bottom: 40px;
	margin-right: 70px;
	margin-left: 70px;
	padding-top: 10px;
	background-color: white;
	border-color: black;
	border: 2px solid;
}

div.icon.container{
	flex-basis: 25%;
	display: block;
	position: relative;
	top: 8px;
	bottom: 8px;
}

div.text.containter{
	flex-basis: 75%;
	display: block;
}

/* I had to decrease the line legnth between my sources and the heading for data sources*/

div.container2 {
	font-family: Open Sans Condensed;
	font-size: 20px;
	text-align: left;
	line-height: 0.8em;
}


  /*Tablet and Deskstop CSS*/
@media(min-width: 681px) {
    
  .flex{
    display: flex;
    justify-content: space-between;
  }

  .flex>div{
    flex-basis: 30%;
  }

}


 /*Desktop-Only CSS*/
@media(min-width: 780px) {

   img.icon{
    width: 75%;
   }

}
